.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__edit-button {
  background: transparent url(../images/edit-icon.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  align-self: center;
  border: 1px solid white;
  margin-left: 18px;
  padding: 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
  border: 2px solid white;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  margin: 0;
}

.profile__description {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  grid-area: description;
  margin: 0;
  margin-top: 7px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

@media screen and (max-width: 896px) {
  .profile {
    flex-direction: column;
    padding-top: 42px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 0;
  }

  .profile__image {
    margin: 0;
  }
  .profile__description {
    width: 100%;
    justify-content: center;
    text-align: center;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    padding-top: 14px;
  }

  .profile__add-button {
    height: 50px;
    width: 282px;
    box-sizing: border-box;
    margin: 0;
    margin-top: 36px;
    margin-left: 20px;
    margin-right: 20px;
    background-size: 16px 16px;
  }

  .profile__title {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    padding-top: 30px;
    justify-content: center;
  }

  .profile__edit-button {
    margin-top: 26px;
    margin-left: 10px;
    height: 18px;
    width: 18px;
    background-size: 7px 7px;
  }
}
